@value makerLightPink from '../../common/colors.css';

.footer{
    background-color: makerLightPink;    
    padding: 20px 0;        
    font-size: 1.2em;
    
    width: 100%;
}

.cardSection.footer{
    position: absolute;
    bottom: 0;
}