@value makerGrey from '../../common/colors.css';

ul{
    padding: 0px;    
    
}

.link li{
    list-style: none;    
    display: flex;
    justify-content: center;
    
}

.title{
    font-size: 1.7em;
    text-transform: uppercase;
}

.authentic{
    padding: 50px 0;
}

.loginBtn{
    margin: 10px auto;
    background-color: transparent;
    outline: none;
    border: solid 1px makerGrey;
    border-radius: 10px;
    width: 70%;
    padding: 0.5em;
    font-size: 1.2rem;
    transition: all 200ms ease;
    
}

.loginBtn:hover{
    color: white;
    background-color: makerGrey;
}