.loginSection{
    width: 30%;    
    border: solid 1px grey;
    border-radius: 20px;    
    margin: auto;
    text-align: center;
    position: relative;
    overflow: hidden;
    text-align: center;
}
